mat-toolbar {
  background: linear-gradient(to right, #B71C1C, #FFCDD2, #212121) !important;
}

.toolbar-script {
  font-family: 'sans-Serif', cursive, sans-serif;
  font-weight: 700;
  color: #FFFFFF;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.card-container {
  display: flex;
  justify-content: center;
  padding-top: 5vh;
}

.centered-card {
  max-width: 20vw;
  max-height: 40vh;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  border-radius: 12px;
  border: 2px solid #B71C1C;
}

.card-title {
  font-family: 'sans-Serif', cursive, sans-serif;
  font-weight: 700;
  color: #B71C1C;
}

mat-form-field {
  width: 90%;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s; /* Smooth transition */
}